/* global styles */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Chakra+Petch:wght@300&family=Kumbh+Sans:wght@100&family=Noto+Sans+Mono&family=Zen+Loop&display=swap');
@import url('nav.css');
@import url('home_section.css');
@import url('footer_section.css');


* {
    font-family: 'Noto Sans Mono', monospace;
    padding: 1rem;
    color: white;
    scroll-behavior: smooth;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}


.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-column{
    display: flex;
    flex-direction: column;
}

.rotated{
    transform: rotate(15deg);
}

@media (max-width:800px) {
    .rotated{
        transform: rotate(0deg);
    }
}